#!/bin/bash

set -euo pipefail

pidfile="{{celery_pidfile}}"
workerargs="{{celery_worker_args}}"

if [ -e "$pidfile" ]; then
    parentpid="$(cat "$pidfile")"
    childrenpids="$(pgrep -P "$parentpid" || true)"
    celery multi stop 1 -KILL --pidfile="$pidfile"
    if [ -n "$childrenpids" ]; then
        echo "$childrenpids" | xargs kill -KILL
    fi
fi
celery multi start 1 $workerargs
